body {
    font-family: Arial, sans-serif;
    background: linear-gradient(0, #6e8efb, #e37777, #6e8efb);
    background-size: cover; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#all{
    max-width: 900px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin-bottom: 60px;
    text-align: center;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 90%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    transform: translateY(20px); /* Inicialmente deslocada para baixo */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-out, transform 1s ease-out;
    margin-top: 20px; /* Adiciona margem superior */
}

.table-show {
    transform: translateY(0); /* Deslocamento final */
    opacity: 1; /* Totalmente visível */
}

th, td {
    
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 0.7vw;
    text-align: center;
    font-size: 1vw;
    transition: background-color 0.3s;
    a{
        text-decoration: none;
        color: black;
    }
}

th {
    background-color: #f4f4f4;
    font-size: 18px;
    font-weight: bold;
}

tr:hover td {
    background-color: #dcdbdb; /* Cor de fundo ao passar o mouse */
}

.caixa {
    padding: 10px 20px;
    font-size: 1vw;
    border: none;
    border-radius: 1vw;
    background-color: #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    margin: 5px;
}
.caixa:hover {
    background-color: #0056b3;
}

button {
    transition: opacity 1s ease-in-out; /* Suaviza a transição */
    padding: 10px 20px;
    font-size: 1vw;
    border: none;
    border-radius: 4vw;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    text-decoration: none;
    a{
        color: #fff;
        text-decoration: none;
    }
}

.bar{
    position: fixed;
    bottom: 0;
    margin: 1vw;
    z-index: 999;
}

button:hover {
    background-color: #0056b3;
}

.computador {
    background-color: #baf0f8; /* Azul claro */
}

.impressora {
    background-color: #ffe0b2; /* Laranja claro */
}

.roteador {
    background-color: #d1c4e9; /* Roxo claro */
}

.sim {
    background-color: #adebb0; /* Verde claro */
    font-weight: bold;
}

.nao {
    background-color: #d5a5aa; /* Vermelho claro */
    font-weight: bold;
}

h1 {
    transition: opacity 1s ease-in-out; /* Suaviza a transição */
    font-size: 2vw;
    margin: 40px 0px;
    height: 2vw;
    width: 100%;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;
}

/* Estilo para a tela de carregamento */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 1.3vw;
    color: #333;
    opacity: 1; /* Inicialmente visível */
    transition: opacity 1s ease-in-out; /* Suaviza a transição */
}

.loading-screen.hide {
    opacity: 0; /* Oculta a tela de carregamento */
}

.loading-screen span {
    font-weight: bold;
}

/* Animação do círculo de carregamento */
.loading-spinner {
    border: 0.4vw solid rgba(0, 0, 0, 0.0); /* Fundo transparente */
    border-radius: 50%;
    border-top: 0.4vw solid #007bff; /* Cor do círculo */
    width: 1.5vw;
    height: 1.5vw;
    animation: spin 1s linear infinite;
    margin-right: 20px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra leve ao redor */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Estilo para os filtros */
.filters {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filters input, .filters select {
    padding: 0.5vw;
    font-size: 1vw;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.filters input:focus, .filters select:focus {
    outline: none;
    border-color: #007bff;
}

.filters select {
    background-color: #f9f9f9;
}

.filters input {
    background-color: #fff;
}

.filters input::placeholder {
    color: #999;
}

.filters input:hover, .filters select:hover {
    background-color: #f0f0f0;
}

.filters input:focus, .filters select:focus {
    background-color: #fff;
}


@media (max-width: 780px) {
    .sim {
        background-color: #0f0;
    }
    
    .nao {
        background-color: #f00;
    }
    #all{
        text-align: center;
        max-width: 600px;
        margin: 20px auto;
        padding: 10px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    table {
        margin-top: 10px;
        border-collapse: collapse;
        overflow: hidden;
        transform: translateY(20px);
        opacity: 0;
        transition: opacity 1s ease-out, transform 1s ease-out;
        margin-bottom: 100px;
    }
    .bar{
        gap: 0.5vw;
        display: flex;
        justify-content:center ;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    #more{
        display: none;
    }
    .caixa {
        bottom: 0;
        left: 0;
        position: fixed;
        font-size: 4vw;
        border-radius: 4vw;
        z-index: 9999;
    }
    .filters {
        margin: 0;
    }
    .filters input, .filters select {
        font-size: 4vw;
    }
    .table tr td:nth-child(3) {
        display: none;
    }
    .table tr td:nth-child(5) {
        display: inline-block;
        margin-top: 5px;
        width: 15px;
        height: 5px;
        border-radius: 50%;
        font-size: 0px;
    }
    .table th:nth-child(3) {
        display: none;
    }
    .responsive-table{
        display: flex;
        justify-content: center;
        height: 100vw;
    }
    h2{
        text-align: center;
        margin: 0;
    }

    h1{
        font-size: 8vw;
        height: 8vw;
        margin-bottom: 5px;
    }
    td, th {
        font-size: 4.2vw;
        padding: 4px 0px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
        color: #000;
        font-size: 18px;
        font-weight: bold;
    }
    button {
        padding: 10px 20px;
        font-size: 5vw;
        border-radius: 5vw;
    }
    .loading-screen {
        font-size: 1em; /* Diminuir o tamanho da fonte para telas menores */
        background: white;
    }
    .loading-screen span {
        font-size: 0.9em; /* Ajustar o tamanho do texto */
        margin-left: 10px;
        display: none;
    }
    .loading-spinner {
        border: 2.5vw solid rgba(0, 0, 0, 0.1); /* Fundo transparente */
        border-radius: 50%;
        border-top: 2.5vw solid #007bff; /* Cor do círculo */
        width: 10vw;
        height: 10vw;
        box-shadow: 0 0 100px 1px rgba(61, 61, 61, 0.1); /* Diminuir a sombra ao redor */
    }
}
